*  *  *  *  *     curl -s https://www.yvbeach.com/yvmeteo.htm >/tmp/yvmeteo.htm && echo "INFO : Html fetched" || echo "ERROR : curl command failed"
*  *  *  *  *     /yvbeach-etl-windy-app.sh
*  *  *  *  *     /yvbeach-etl-wunderground.sh
*/5  *  *  *  *   /yvbeach-etl-windy-com.sh
# crontab must end with empty line
