*  *  *  *  *     curl https://www.yvbeach.com/yvmeteo.htm >/tmp/yvmeteo.htm
*  *  *  *  *     /yvbeach-etl.sh
*  *  *  *  *     /yvbeach-etl-wunderground.sh
*/5  *  *  *  *   /yvbeach-etl-windy-com.sh
# This file must end with empty line
